//color
$primary-color: #535455; // RGB: (36, 0, 0)
$secondary-color: #E1E1E1; // RGB: (225, 225, 225)
$accent-color: #78318A;// RGB: (120, 49, 138)

$color-white: #fff;
$color-black: #000;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #d4d4d4;

$color-grey-dark-1: #777;
$color-grey-dark-2: #545862;

// FONT
$default-font-size: 1.6rem;
$large-font-size: 3rem;
$medium-font-size: 2.5rem;