.App {	
	font-family: 'Special Elite', cursive;
    line-height: 1.5;
    color: $primary-color;
	font-size: $default-font-size;
}

.heading-primary {
    text-transform: uppercase;
    font-size: 5rem;
}

.heading-secondary {
    text-transform: uppercase;
    font-size: $large-font-size;
}

.heading-tertiary {
    font-size: $medium-font-size;
}